body{
    background: url('/img/fondo-1.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: "Catamaran", Sans-serif;
}

.container-header-nav {
    background: url('/img/nav.png');
    background-size: cover;
    color: white;
}

.header-general {
    text-align: center;
    padding: 10px 0;
}

.header-general h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header-general a {
    color: inherit;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    z-index: 10;
}


.container-nav {
    display: inline-flex;
    background-color: rgba(34, 33, 33, 0.8);
    border-radius: 10px;
    padding: 5px;
}

.nav-elements {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-elements li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav-elements li:last-child a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-elements li a {
    color: white;
    text-decoration: none;
    display: block;
    font-family: "Catamaran", sans-serif;
    font-size: 17px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-elements li a:hover {
    color: #0b0b8a;
}

.nav-center-elements {
    display: flex;
    align-items: center;
}

#user-icon-container {
    position: relative;
    display: flex;
    align-items: center;
}

#user-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
    vertical-align: middle;
}

#user-menu {
    position: absolute;
    top: 40px;
    right: 0;   
    background-color: #333;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
    display: none;
    width: 200px;

}

#user-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#user-menu ul li{
    border-bottom: 1px solid #555;
    text-align: left;
    padding: 10px 15px;
}

#user-menu ul li:last-child {
    border-bottom: none;
}

#user-menu ul li a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
}

.nom_usuari {
    font-weight: bold;
    color: white;
    padding: 14px 20px;
}

.user_menu_logout a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.user_menu_logout a:hover {
    color: #0b0b8a;
}

.container-body {
    text-align: center;
    margin: 20px 0;
}

.images {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.slide-images img{
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: opacity 1s ease-in-out;
}

.text_image h2{
    font-family: "Catamaran", sans-serif;
    font-size: 1.5em;
    color: black;
    margin: 0;
    line-height: 1.2;
}
