body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.category-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-around;
    align-items: stretch;
    height: calc(100vh - 120px);
    margin: 0;
    padding: 20px;
}

.category-item {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-list img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-bottom: 5px;
}

.category-item, .category-content {
    padding: 10px;
}

.category-item h3 {
    font-size: 1.5em;
    margin-bottom: 5x;
}

.category-item p {
    font-size: 1.2em;
    margin-bottom: 5px;
}