body {
    font-family: Arial, sens-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f9f9f9;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product-item h3{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1em;
    margin-bottom: 10px;
}

.product-item .price {
    font-weight: bold;
    color: #333;
}